<div class="ui inverted segment">
      <div class="ui container">
        <div class="ui inverted secondary pointing menu">
          <%= link_to "Chatroom", root_path, class:"item"%>
          <a class="item">
            Messages
          </a>
          <div class="right menu">
            <div class="ui dropdown item">
              Account <i class="dropdown icon"></i>
              <div class="menu">
                <%= link_to "Login", login_path, class:"item"%>
                <a class="item">Logout</a>
              </div>
            </div>
            <%= link_to "Sign Up", login_path, class:"ui teal button"%>
          </div>
        </div>
      </div>
    </div>